ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: none;
    background-color: #111;
    color: white;
}

.active {
    background-color: Blue;
}

.btn-primary {
    background-color: blue ;
}

.btn-good {
    background-color: lawngreen ;
}

.bad {
    background-color: red ;
}

.dock {
    border: solid 1px black;
    padding: auto;
    margin: 0 auto;
}

.row .btn {
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    padding: 0 !important;
}
